<ion-view view-title="Chats">
  <ion-content>
<button class="button button-block button-positive" ng-click="Vibrar()">
  Vibrar
</button><br>

<button class="button button-block button-balanced" ng-click="Parar()">
  Parar
</button><br>

<button class="button button-block button-assertive" ng-click="Encender()">
  Encender Linterna
</button><br>

<button class="button button-block button-royal" ng-click="Apagar()">
  Apagar Linterna
</button><br>

<button class="button button-block button-calm" ng-click="play()">
  Play
</button><br>

<button class="button button-block button-dark" ng-click="stop()">
  Stop
</button><br>
<!-- fx-sonido.buscamix.com -->
  </ion-content>
</ion-view>
