
<ion-view view-title="Trivia" class="center" ng-style={'background-color':'coral'}>
  <ion-content class="center-content animated slideInUp">

<center ng-show="showComenzar">
    <button class="button button-positive" ng-click="getPregunta()">
      Comenzar a jugar!
    </button>
</center>

<div ng-show = "showPregunta">
<br><br>
<br><br>
  <center>
    {{preguntas[random].$value}}
  </center>
<br><br>
<br><br>

<br><br>

<button class="button button-block button-positive" ng-repeat="opcion in opciones" ng-show="opcion.$id =='o1'+preguntas[random].$id" ng-click="setRespuesta(opcion.$id, preguntas[random].$id, respuestas[random].$value)">
  {{opcion.$value}}
</button>
<button class="button button-block button-positive" ng-repeat="opcion in opciones" ng-show="opcion.$id =='o2'+preguntas[random].$id" ng-click="setRespuesta(opcion.$id, preguntas[random].$id, respuestas[random].$value)">
  {{opcion.$value}}
</button>
<button class="button button-block button-positive" ng-repeat="opcion in opciones" ng-show="opcion.$id =='o3'+preguntas[random].$id" ng-click="setRespuesta(opcion.$id, preguntas[random].$id, respuestas[random].$value)">
  {{opcion.$value}}
</button>
</div>


<br><br>
<br><br>
  <div class="button-bar">
<button class="button button-icon icon ion-magnet"  style="color:lightblue" nav-clear menu-close nav-direction="exit" ui-sref="app.gallery">Volver</button>
 <button class="button button-icon icon ion-home"  style="color:blue" nav-clear menu-close nav-direction="exit" ui-sref="home">Inicio</button>
 <button class="button button-icon icon ion-log-out" style="color: red" on-tap="exitApp()">Salir</button>
 </div>

  </ion-content>
</ion-view>
