

<ion-view view-title="" class="galleryView">
<ion-content>
<ion-list>
<div  class="center-content animated slideInUp">


<center> 
<br><br><br><br>
<h2>Super</h2>


<p> Menu </p>
</center>


  <div class="button-bar">
<button class="button button-icon icon ion-magnet"  style="color:lightblue" nav-clear menu-close nav-direction="exit" ui-sref="app.gallery">Menu</button>
 <button class="button button-icon icon ion-home"  style="color:blue" nav-clear menu-close nav-direction="exit" ui-sref="home">Inicio</button>

 </div>



</ion-item>
</div>
</ion-list>
</ion-content>
</ion-view>





