
<ion-view view-title="Trivia" class="center" ng-style={'background-color':'coral'}>
  <ion-content class="center-content animated slideInUp">


<br><br><br><br><br><br>
      <i style="color:yellow" >Hola {{usuario.nombre}} Vamos a jugar!!!</i>
<br><br>

<center ng-show="showComenzar">
    <button class="button button-positive" ng-click="getPregunta()">

      Comenzar a jugar!
    </button>
</center>

<div ng-show = "showPregunta" style="color:blue" >
<br><br>
<br><br>
  <center>
        {{trivia.pregunta}}


  </center>
<br><br>
<br><br>

<br><br>

<button  ng-click="setRespuesta(trivia.rtas[0].correcta,'bt1')" ng-class="{'button button-block button-dark' : colorbt1==0 ,'button button-block button-calm': colorbt1==1, 'button button-block button-assertive': colorbt1== 2}">
  {{trivia.rtas[0].rta}}
</button>


<button ng-click="setRespuesta(trivia.rtas[1].correcta,'bt2')" ng-class="{ 'button button-block button-dark' : colorbt2==0 ,'button button-block button-calm': colorbt2==1, 'button button-block button-assertive': colorbt2== 2}">
  {{trivia.rtas[1].rta}}
</button>


<button  ng-click="setRespuesta(trivia.rtas[2].correcta,'bt3')" ng-class="{'button button-block button-dark' : colorbt3==0 ,'button button-block button-calm': colorbt3==1, 'button button-block button-assertive': colorbt3== 2}">
  {{trivia.rtas[2].rta}}


</button>

</div>
<!--
    {{preguntas1[random].$value}}
    456

<br><br>
<br><br>
  <div class="button-bar">
<button class="button button-icon icon ion-magnet"  style="color:lightblue" nav-clear menu-close nav-direction="exit" ui-sref="app.gallery">Volver</button>
 <button class="button button-icon icon ion-home"  style="color:blue" nav-clear menu-close nav-direction="exit" ui-sref="home">Inicio</button>
 <button class="button button-icon icon ion-log-out" style="color: red" on-tap="exitApp()">Salir</button>
 </div>
-->
  </ion-content>
</ion-view>
